/* Resaltado general para Markdown */
.cm-s-obsidian span.cm-header {
    color: #105689; /* Color para encabezados (#, ##, etc.)(azul) */
    font-weight: bold;
}

.cm-s-obsidian span.cm-strong {
    color: #FF0000; /* Negrita (**texto**)(rojo) */
    font-weight: bold;
}

.cm-s-obsidian span.cm-em {
    color: #FFC400; /* Cursiva (*texto*)(amarillo cat) */
    font-style: italic;
}

.cm-s-obsidian span.cm-link {
    color: #A162D0; /* Enlaces ([texto](url))(púrpura) */
    text-decoration: underline;
}

.cm-s-obsidian span.cm-quote {
    color: #FFC000; /* Citas (> texto)(anaranjado) */
    font-style: italic;
}

.cm-s-obsidian span.cm-comment {
    color: #A162D0; /* Comentarios (<!-- texto -->)(púrpura) */
    font-style: italic;
}

.cm-s-obsidian span.cm-list-token {
    color: #00B0F0; /* Listas (-, *, 1.)(celeste) */
}

.cm-s-obsidian span.cm-url {
    color: #00B0F0; /* URLs (rosado) */
    text-decoration: underline;
}

.cm-s-obsidian span.cm-formatting-code-block {
    color: #abb2bf; /* Bloques de código (```codigo```) */
    background-color: #282c34;
    padding: 2px;
    border-radius: 4px;
}